.Weather {
  text-align: center;
  border: 1px solid white;
  border-radius: 4px;
  margin: 20px 40px;
  background: rgb(245, 215, 248);
  padding: 30px;
  font-size: 15px;
}
form {
  padding-bottom: 40px;
}
.Unit a {
  text-decoration: none;
}
.Unit {
  position: relative;
  bottom: 12px;
}
.TempSymbol {
  font-size: 25px;
  text-align: center;
}
.City {
  font-size: 40px;
}
.linkStyle {
  text-decoration: none;
  color: rgb(92, 21, 21);
  font-weight: 500;
}
.Footer {
  margin-top: 50px;
}
